<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jude.smssdk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="xxxxxxx"
            />
        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="xxxxxxx"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppTheme.Login"/>
        <activity android:name=".RegisterActivity"
            android:label="@string/register"/>
        <activity android:name=".FindPasswordActivity"
            android:label="@string/find_password"/>
    </application>

</manifest>
